.scroll {
    height: 73vh;
    overflow-y: scroll;
}


.scroll::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar track */
  }
  
  .scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar handle */
    border-radius: 4px;
  }

.wid-titles {
    width: 100%;
    height: auto;
    position: relative;

    text-align: left;
    overflow: hidden;
}

.wid-titles span {
    margin: 0;
    padding: 0;
    display: inline;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    max-width: 90%;
    color: #333;
}

.wid-titles span:after {
    position: absolute;
    content: "";
    width: 500px;
    height: 2px;
    background-color: #b9b9c4;
    left: 100%;
    top: 50%;
    margin-top: -1px;
    margin-left: 30px;
}


.about-text {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    min-width: 280px;
    color: #505356;
}


.fn_cs_progress_bar,
.fn_cs_progress_wrap {
    width: 100%;
    float: left;
    clear: both;
}

.fn_cs_progress {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 15px;
}

.fn_cs_progress>span {
    margin: 0px 0px 8px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    float: left;
    clear: both;
}

.fn_cs_progress span.label {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    position: relative;
    float: left;
}

.fn_cs_progress span.number {
    float: right;
    font-size: 16px;
    color: #666;
    margin-left: 10px;
}

.fn_cs_progress .fn_cs_bar_bg {
 
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 20px;
    float: left;
    clear: both;
}

.fn_cs_progress .fn_cs_bar_bg .fn_cs_bar_wrap {
    width: 0px;
    height: 100%;
}

.fn_cs_progress .fn_cs_bar_bg .fn_cs_bar_wrap.open {
    -webkit-animation: fn_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* Safari 4+ */
    -moz-animation: fn_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* Fx 5+ */
    animation: fn_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* IE 10+ */
    width: 100%;
}

.fn_cs_progress .fn_cs_bar_bg .fn_cs_bar {
    height: 20%;
    background: #333;
    width: 0px;
    overflow: hidden;
}

.fn_cs_progress_wrap[data-strip="on"] .fn_cs_progress .fn_cs_bar {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);

    -webkit-animation: fn_bar_move 4s linear infinite;
    -moz-animation: fn_bar_move 4s linear infinite;
    animation: fn_bar_move 4s linear infinite;
    background-size: 50px 50px;
}



.about_bt {
    border: 1px solid #000;
    border: none;
    background-color: #d7d7e0;
    color: #a4a4b4;
    border-radius: 50px;
    padding:.5em 1em!important;
    font-weight: bold;
    width: 31%;
}

@media only screen and (max-width: 600px) {
    
    .about_bt {
        width: 50%;
    }
    .about-text h4 {
        font-size: 24px;
    }

}


@-webkit-keyframes fn_bar_move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes fn_bar_move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

@keyframes fn_bar_move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

/*expand width animation*/
@-webkit-keyframes fn_expand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes fn_expand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fn_expand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}